{{>header}}
<h1>TODO App</h1>
<div class="container">
<div class="d-inline mx-5">
   <a href="/add" class="btn btn-primary"> 
        Add New Task
    </a>
    <a href="/showAll" class="btn btn-primary">
        Show All Tasks
     </a>
</div>
<img src="./images/homeImg.png" alt="homeimg">
</div>
 

{{>footer}}